[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Uu]nityPackageManager/
.DS_Store
Thumbs.db
.vscode/
*.csproj
*.sln
*.tmp
*.user
*.userprefs
*.pidb
*.pdb
*.log
